<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ver listado de empleados</title>
</head>
<body>
    <h1>Empleados de la Concesionaria 👨‍💼🏎</h1>
    
    {% for empleado in empleados%}
        <li style="font-size: 0.5cm;">{{empleado}}</li>
    {% endfor %}
    <li class="list-inline-item" style="color: white;">⋅</li>
    <a class="navbar-brand" href="{% url 'EmpleadoFormulario' %}">Cargar empleado</a> 
    <li class="list-inline-item" style="color: white;">⋅</li>

    <a class="navbar-brand" href="{% url 'Inicio' %}">Inicio</a> 
</body>
</html>